<div class="container-fluid">
  <div class="row-fluid">

    <h3>Accounts</h3>
    <div class="gridStyle" ng-grid="gridOptions"></div>
	    
  	<form novalidate class="well">
  		<label>Add a new account</label>  
        <input type="text" class="span3"  placeholder="Account name" ng-model="account.accountName" />
        <input type="description" class="span3"  placeholder="Account description" ng-model="account.description" />
        <label class="checkbox">  
        	<input type="checkbox" ng-model="account.retirement"/>Retirement account
        </label>
        <button class="btn" ng-click="reset()">RESET</button>
        <button class="btn" ng-click="update()">SAVE</button>
    </form>
    
  	<form novalidate class="simple-form">
        <button class="btn" ng-click="delete()">DELETE</button>
    </form>

	<div class="selectedItems">{{selectedItems}}</div>
  </div>
</div>
