<div class="container-fluid">
  <div class="row-fluid">

    <h3>Accounts</h3>
    <div class="gridStyle" ng-grid="gridOptions"></div>
	<form novalidate class="form">
        <button type="submit" class="btn btn-default" ng-click="delete()">Delete</button>
    </form>
    
  	<form novalidate class="well form">

		<h4>Add a new account</h4> 
  		
  			<div class="form-group">
			    <label for="accountInputName">Account Name</label>
			    <input type="text" class="form-control" id="accountInputName" placeholder="Enter name" ng-model="account.accountName">
			 </div>
			<div class="form-group">
			    <label for="accountInputDescr">Account Description</label>
			    <input type="description" class="form-control" id="accountInputName" placeholder="Enter description" ng-model="account.description">
			  </div>
	  		
	  		 <div class="checkbox">
			    <label>
			      <input type="checkbox" ng-model="account.retirement"> Retirement account
			    </label>
			  </div>

			<button type="submit" class="btn btn-default" ng-click="update()">Save</button>


    </form>
    


  </div>
</div>
