<div class="container-fluid">
  <div class="row-fluid">

  	<form novalidate class="well form">
  		<div class="form-group">
        <label for="categoryInputName">Add New Category</label>
        <input type="text" class="form-control" id="categoryInputName" placeholder="Enter name" ng-model="category.categoryName">
        </div>
        <button ng-click="update()">Save</button>
    </form>
    <h3>categories</h3>
    <div class="gridStyle" ng-grid="gridOptions"></div>
	    
	    <hr>
	  	<form novalidate class="simple-form">
	        <button ng-click="delete()">DELETE</button>
	    </form>

  </div>
</div>
